node_modules
*.log
.DS_Store
.DS_Store?
.Spotlight-V100
ehthumbs.db
Thumbs.db
.sass-cache
*.swp
*.cache
.idea
dist
.happypack/
.vscode/*
# 仅同步 settings
!.vscode/settings.json
log
.history
doc.html
package-lock.json
